<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    
</head>
<body>

<h1>Our Products</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem commodi eos error esse fugit illo incidunt itaque minus nobis officia omnis quae quam, reprehenderit sed suscipit tempore vero voluptatem.</span><span>Ab accusantium ad alias aperiam, blanditiis deleniti dolor dolorem esse explicabo illo ipsam iure, laudantium modi, molestias omnis placeat quod rem rerum saepe sapiente similique tenetur totam unde vel veritatis!</span><span>Expedita fugiat hic incidunt iure laborum neque nesciunt odit rem veritatis? Eaque ipsum labore molestias necessitatibus quae? Accusantium adipisci asperiores dicta, ea facere facilis optio perferendis possimus provident suscipit velit!</span><span>At explicabo fugiat magnam, nam numquam perferendis totam? Accusantium aliquam dolorem dolores earum eius iste, maxime officia placeat similique temporibus voluptas voluptates! Atque est inventore natus sapiente vitae? Aspernatur, nemo!</span></p>

<img src="{% static 'assets/car1.jpeg' %}" alt="">
<img src="{% static 'assets/car2.jpeg' %}" alt="">
<img src="{% static 'assets/car3.jpeg' %}" alt="">
<img src="{% static 'assets/car4.jpeg' %}" alt="">
<img src="{% static 'assets/car5.jpeg' %}" alt="">
<img src="{% static 'assets/car6.jpeg' %}" alt="">
<img src="{% static 'assets/car7.jpeg' %}" alt="">
<img src="{% static 'assets/car8.jpeg' %}" alt="">

</body>
</html>