<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
     {% load static %}

    <style>
        h1{
            text-align: center;
            color: blue;
        }

    </style>

</head>
<body>
<h1>Welcome to Jijicart!!</h1>
   
  <a href="{% url 'gallery' %}"> Our products</a>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti dignissimos dolore ea facere, harum ipsa iste, odit officia perferendis quae qui recusandae rem saepe sint soluta unde vel, voluptatibus?</span><span>Facere inventore provident quos sed sequi? Dolore, enim, ipsum. Accusamus deleniti eum fuga, provident ratione recusandae. Eligendi eos harum, hic impedit laboriosam possimus quis recusandae soluta! Deleniti optio quia voluptatum.</span><span>Aliquam animi asperiores assumenda dolor esse inventore officia quia. Ab ad asperiores at voluptatum? Ad animi asperiores assumenda eaque in, perspiciatis porro quaerat rerum. Possimus provident quisquam velit veniam voluptatibus?</span><span>Asperiores distinctio nisi officia. Asperiores aspernatur at cum cupiditate dolore error excepturi explicabo illo iste necessitatibus nemo, non optio qui, reiciendis tenetur? Blanditiis nobis rem sit voluptate! Quis, tempore, veritatis.</span></p>
<img src="{% static 'assets/car1.jpeg' %}" alt="">
<br>

<button>Shop Now</button>


</body>
</html>