<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>

    <h1 class="text-center text-danger">Our Services</h1>
    <a href="{% url 'index' %}"> Visit Home</a>
    <a href="{% url 'gallery' %}"> Products Page</a>




    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum obcaecati ab cupiditate eaque sunt nobis perspiciatis, fugit explicabo repellat accusantium iste beatae! Explicabo laborum aspernatur corrupti amet. Molestiae, odio magnam!
    Laudantium vitae similique fugit, corrupti dolores magni quos perspiciatis alias dolor praesentium facere explicabo quis, beatae dignissimos quia natus voluptatibus veritatis. Sapiente et, delectus culpa omnis debitis necessitatibus totam vitae?
    Sunt quidem vel repellendus accusantium iusto aspernatur illum numquam ex, velit, sed, dolore accusamus rerum. Quos eius sint possimus architecto sapiente sunt odio, quibusdam culpa esse laudantium, adipisci iusto illo!
    Laudantium, id facere quam culpa molestias harum quibusdam porro temporibus! Delectus provident, distinctio reprehenderit exercitationem culpa in repellat amet placeat! Aliquid illum corporis perferendis inventore quae cupiditate a fuga nisi.</p>

    <button class="btn btn-outline-primary">Get Started</button>

    
</body>
</html>